body {
    background-color: lightblue;
    /*background-image: url('/static/rickroll-rick.gif');*/
    font-family: Helvetica;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 500%;
    font-weight: bold;
    color: rgb(224, 224, 224);
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}
h2 {
    margin-left: 50px;
    font-weight: bold;
    font-size: 300%;
    font-weight: bold;
    color: rgb(224, 224, 224);
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
ul {
    font-size: larger;
    margin-left: 100px;
}
.text {
    background-color: rgb(224, 224, 224);
    width: 95%;
    position: relative;
    top: 15px;
    margin: auto;
    border-radius: 25px;
    border-color: black;
    border-style: dashed;
}
.back {
    position: relative;
    left: 30px;
    top: 60px;
}